<div class="container">
    <section></section>
    <section>
        <div class="register-container">
            <header>
                <img src="../../../assets/imagens/logo.png" alt="logo">
                <span class="gui">Guilhermina</span>
                <span class="clinica">Clínicas</span>
            </header>
            <form #registerForm = "ngForm">
                <main>
                    <div class="row">
                        <div class="subtitle">
                            <span>Nome</span>
                            <input type="text" name="name" id="name" class="info" ngModel>
                        </div>
                        <div class="subtitle">
                            <span>Sobrenome</span>
                            <input type="text" name="lastName" id="lastName" class="info" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="subtitle">
                            <span>CPF</span>
                            <input type="text" name="cpf" id="cpf" class="info" ngModel>
                        </div>
                        <div class="subtitle">
                            <span>Data de Nascimento</span>
                            <input type="date" name="birthDate" id="birthDate" class="info" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="subtitle">
                            <span>Sexo</span>
                            <select name="sexo" id="sex" class="info" ngModel>
                                <option></option>
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>
                        </div>
                        <div class="subtitle">
                            <span>Convenio Médico</span>
                            <select name="convenio" id="convenio" class="info" ngModel>
                                <option value=""></option>
                                <option value="sulamerica">SulAmerica</option>
                                <option value="amil">Amil</option>
                                <option value="bradesco">Bradesco</option>
                            </select>
                            
                        </div>
                    </div>
                </main>
                <footer>
                    <span>Dados de cadastro</span>
                    <div class="row">
                        <div class="subtitle">
                            <span>E-mail</span>
                            <input type="email" name="email" id="email" class="info" ngModel>
                        </div>
                        <div class="subtitle">
                            <span> Confirme o E-mail</span>
                            <input type="email" name="reemail" id="reemail" class="info" ngModel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="subtitle">
                            <span>Senha</span>
                            <input type="password" name="password" id="password" class="info" ngModel>
                        </div>
                        <div class="subtitle">
                            <span>Confirme a senha</span>
                            <input type="repassword" name="repassword" id="repassword" class="info" ngModel>
                        </div>
                    </div>
                    <button type="submit" (click)="registerUser(registerForm.value)"POST>Cadastrar</button>
                    {{registerForm.value}}
                </footer>
            </form>
        </div>
    </section>
</div>