<div class="container">
    <section></section>
    <section>
        <div class="register-container">
            <header>
                <img src="../../../assets/imagens/logo.png" alt="logo">
                <span class="gui">Guilhermina</span>
                <span class="clinica">Clínicas</span>
            </header>
            <main>
                <div class="row">
                    <div class="subtitle">
                        <span>Nome</span>
                        <input type="text" name="nome" id="nome" class="info">
                    </div>
                    <div class="subtitle">
                        <span>Sobrenome</span>
                        <input type="text" name="sobrenome" id="sobrenome" class="info">
                    </div>
                </div>
                <div class="row">
                    <div class="subtitle">
                        <span>CPF</span>
                        <input type="text" name="cpf" id="cpf" class="info">
                    </div>
                    <div class="subtitle">
                        <span>Data de Nascimento</span>
                        <input type="date" name="data" id="data" class="info">
                    </div>
                </div>
                <div class="row">
                    <div class="subtitle">
                        <span>Sexo</span>
                        <select name="sexo" id="sex" class="info">
                            <option></option>
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </div>
                    <div class="subtitle">
                        <span>Convenio Médico</span>
                        <select name="convenio" id="convenio" class="info">Convenio Médico</select>
                    </div>
                </div>
            </main>
            <footer>
                <span>Dados de cadastro</span>
                <div class="row">
                    <div class="subtitle">
                        <span>E-mail</span>
                        <input type="email" name="email" id="email" class="info">
                    </div>
                </div>
                <div class="row">
                    <div class="subtitle">
                        <span>Senha</span>
                        <input type="password" name="password" id="password" class="info">
                    </div>
                    <div class="subtitle">
                        <span>Confirme a senha</span>
                        <input type="repassword" name="repassword" id="repassword" class="info">
                    </div>
                </div>
                <button type="submit">Cadastrar</button>
            </footer>
        </div>
    </section>
</div>