nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid lightgray;
}
.quick-menu{
    position: relative;
    border: 1px solid;
    width: 25rem;
    height: 100%;
    z-index: -1;
    top: 1px;
    background-color: rgba($color: red, $alpha: 1.0);
}
.user{
    display: flex;
    gap: 3rem;
    span{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2rem;
    }
    .quick-menu-btn{
        &:hover{
           cursor: pointer;
        }
        &:active{
            transform: translate(1px,0px);
        }
    }
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-right: 2rem;
}