<nav>
    <div class="user">
        <span>BEM VINDO, GUILHERME HAIS    
        </span>
    </div>
    <div class="buttons">
        <img src="../../../assets/imagens/Vector.png" alt="config">
        <img src="../../../assets/imagens/Component 1.png" alt="logout">
    </div>
</nav>
<div class="containter">
    <section class="background">
        <img src="../../../assets/imagens/Background.png" alt="fundo">
    </section>
    <div class="container">
        <section>
            <p>Para agendar uma nova consulta é simples. 
                Basta preencher os seguintes dados</p>
            <form action="post">
                <select name="convenio" id="convenio"></select>
                <select name="especialidade" id="especialidade"></select>
                <select name="clinica" id="clinica"></select>
                <input type="text" class="medico">
                <input type="date" name="data" id="data">
            </form>
            <footer>
                <div class="buttons_submit">
                    <span>Horários disponíveis</span>
                    <button class="cancelar">Cancelar</button>
                    <button type="submit">Enviar</button>
                </div>
            </footer>    
        </section>    
    </div>
</div>