<div class="container">
    <section class="background">
        <img src="../../../assets/imagens/Background.png" alt="fundo">
    </section>
    <main>
        <section>
            <p>Para agendar uma nova consulta é simples. 
                Basta preencher os seguintes dados</p>
            <form action="post">
                <div class="row">
                    <span>Convênio</span>
                    <select name="convenio" id="convenio"></select>
                </div>
                <div class="row">
                    <span>Especialidade</span>
                    <select name="especialidade" id="especialidade"></select>
                </div>
                <div class="row">
                    <span>Clinica</span>
                    <select name="clinica" id="clinica"></select>
                </div>
                <div class="row">
                    <span>Médico</span>
                    <select name="medico" id="medico"></select>
                </div>
                <div class="row">
                    <span>Selecione a data</span>
                    <input type="date" name="data" id="data">
                </div>
            </form>
            <footer>
                <span>Horários disponíveis</span>
                <div class="buttons-submit">
                    <button class="horarios">6:30</button>
                    <button class="horarios">7:00</button>
                    <button class="horarios">8:00</button>
                    <button class="horarios">10:00</button>
                    <button class="horarios">11:00</button>
                </div>
                <div class="buttons">
                    <button class="cancelar">Cancelar</button>
                    <button type="submit">Enviar</button>
                </div>
            </footer>    
        </section>    
    </main>
</div>