<div class="container">
    <section>
    </section>
    <section>
      <div class="login-container">
        <header>
          <img src="../../../assets/imagens/logo.png" alt="" />
          <span class="gui">Guilhermina&nbsp;</span>
          <span class="clinicas">Clínicas</span>
        </header>
        <main>
          <div class="subtitle"> 
            <span>CRM ou CPF:</span> 
            <input type="text" name="login" id="login" />
          </div>
          <div class="subtitle">
            <span>Senha:</span>
            <input type="password" name="password" id="password" />  
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </main>
        <footer>
          <span>Não possui conta?<a href="#">Cadastre-se</a></span>
          <span><a href="#">Esqueci minha senha</a></span>
        </footer>
      </div>
    </section>
  </div>
  
  